html, body {
    font-family: 'Inconsolata', monospace;
    background-color: #3E4147;
    color: #F4F4F4;
}

html {
    padding: 20px;
}

a {
    color: #F4F4F4;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: #7ED0D6;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #7ED0D6;
    text-align: center;
}

ol {
    font-style: italic;
    font-size: .8em;
}

li {
    margin: 0;
    padding: 0;
    border-left: solid 1px white;
}

li a {
    padding-left: 12px;
    line-height: 1.5em;
    font-size: 1.7em;
    font-style: normal;
}
